.dev-icons-languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  padding-left: 0;
  list-style: none;
  font-size: 1.6rem;
  margin: 0;
}

.software-skill-inline-languages {
  display: flex;
  align-items: center;
  margin: 0;
  font-family: "Google Sans Regular";
}

@media (max-width: 768px) {
  .dev-icons-languages {
    gap: 8px;
  }
}
